*.code-workspace

tests/evolverMammals/evolverMammals-out*/
!tests/evolverMammals/evolverMammals-out/evolverMammals.txt

tests/evolverMammals/evolverMammals-out-gpu*/
!tests/evolverMammals/evolverMammals-out-gpu/evolverMammals.txt

tests/evolverMammals/evolverMammals-update-out*/
!tests/evolverMammals/evolverMammals-update-out/seq_file.in
!tests/evolverMammals/evolverMammals-update-out/seq_file.out

tests/evolverMammals/evolverMammals-replace-out*/
!tests/evolverMammals/evolverMammals-replace-out/seq_file.in
!tests/evolverMammals/evolverMammals-replace-out/seq_file.out

tests/yeast-minigraph*/
!tests/yeast-minigraph/seq/
!tests/yeast-minigraph/yeastPangenome.txt
!tests/yeast-minigraph/yeastPangenome-local.txt
!tests/yeast-minigraph/yeast-minigraph-cfg.yaml

*.snakemake*
*__pycache__*

*.sif

bin/
cactus/

tests/*.sif
tests/gpu-test.log
tests/gpu-usage.log
turtles/
lepidoptera/

utils/etc/