*.code-workspace

tests/evolverMammals-out/*
!tests/evolverMammals-out/evolverMammals.txt

tests/evolverMammals-out-working/
tests/evolverMammals-out-in-progress/

*.snakemake*
*__pycache__*

bin/

tests/*.sif
